html {
  font-size: 16px;
  font-family: BlinkMacSystemFont,-apple-system,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: #efefef;
}

code {
  color: deeppink;
}

.container {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.title {
  color: steelblue;
}

ul.faq-list {
  list-style: none;
  padding-inline-start: 0;
  max-width: 800px;
  font-size: 1.1rem;
}

.question {
  color: steelblue;
  font-size: 1.5rem;
  font-weight: normal;
}

.answer ol li {
  margin: 0.75rem 0;
}

h1 {
  font-weight: normal;
  color: steelblue;
}

.instruction-list h3 {
  font-weight: normal;
  color: seagreen;
  font-size: 1.5rem;
}

.answer h3 {
  font-weight: normal;
  color: #666;
}

a {
  color: royalblue;
}

a.instructions-link {
  font-size: 2rem;
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}