html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;
}

h2 {
  margin: 10px;
}

#profile-container {
  display: flex;
  align-items: center;
}

#login-text {
  margin: 10px;
}

#login-button {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;
}

#user-add-form {
  display: none;
}

#user-add-form.shown {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: flex-start;
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;
  padding: 5px 0;
}

#user-add-form.shown > * {
  margin: 5px 0;
}

#user-description {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  width: 400px;
}

#user-list-container {
  display: table;
  border-spacing: 10px 5px;
}

.user-row {
  display: table-row;
}

.header-row {
  display: table-row;
}

.header-row > div {
  display: table-cell;
  font-size: 1.1rem;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.user-row > div {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.user-row a {
  color: steelblue;
}