html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
}

button {
  padding: 5px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #777;
}

button:hover {
  box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2);
}

form button {
  border: 1px solid white;
}

.button-cancel {
  background-color: #777;
}

.button-ok {
  background-color: green;
}

a {
  cursor: pointer;
  color: steelblue;
}

a:hover {
  color: #3ba6ff;
  text-decoration: underline;
}

h2 {
  margin: 0 0 0 5px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* #content-container {
} */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#content-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: steelblue;
}

.subtitle {
  font-size: 1.3rem;
  color: #666;
}

.subtitle:before {
  content: '|';
  margin: 0 10px;
}

.login-container {
  display: flex;
  align-items: center;
}

#login-text {
  margin-right: 10px;
}

#login-button {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;
}

#user-add-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: stretch;
  color: white;
  background-color: steelblue;
}

#user-add-form > * {
  margin: 5px 0;
}

#user-add-form button:not(:first-child) {
  margin-left: 10px;
}

textarea, input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 4px;
}

#user-description {
  resize: none;
}

.table {
  display: table;
  border-spacing: 10px 5px;
}

.empty-list-message {
  padding: 10px 5px;
  font-size: 1.2rem;
}

.container {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.user-row {
  display: table-row;
}

.header-row {
  display: table-row;
}

.header-row > div {
  display: table-cell;
  font-size: 1.2rem;
  padding: 5px;
  color: #777;
  border-bottom: 1px solid #ccc;
}

.user-row > div {
  display: table-cell;
  padding: 5px;
  max-width: 400px;
  border-bottom: 1px solid #ccc;
}

.visibility-cell select {
  font-size: 0.9rem;
}

#add-sharee-form {
  display: flex;
  margin: 10px;
  align-items: center;
  color: white;
  background-color: #317b97;
  padding: 10px;
}

#add-sharee-form.disabled {
  background-color: #999;
}

#add-sharee-form > * {
  margin: 0 5px;
}

#add-sharee-screenname {
  height: 24px;
  width: 200px;
}

#add-everyone-button {
  margin: 10px;
  background-color: green;
  color: white;
  padding: 10px 15px;
}

#shared-with-container h2 {
  display: flex;
}

#shared-with-container .visibility-select {
  font-size: 1.1rem;
  border-color: steelblue;
  margin-left: 10px;
}