.twitlist-ui-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  color: #333;
}

.twitlist-info-container {
  font-style: italic;
  display: flex;
  align-items: center;
}

.twitlist-ui-container a {
  display: block;
}

.twitlist-ui-container button:hover {
  background-color: #ccc;
}