.twitlist-ui-container {
  display: flex;
}

.twitlist-tooltip-icon {
  margin-right: 5px;
  position: relative;
}

.twitlist-tooltip-icon svg {
  bottom: -3px;
  height: 20px;
  width: 20px;
  position: relative;
  fill: rgba(29,161,242,1.00);
}

.twitlist-content-container {
  display: none;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 30px;
  left: 0;
  width: 450px;
}

.twitlist-ui-container-dark .twitlist-content-container {
  color: #fff;
}

.twitlist-info-container {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.twitlist-content-container .action-link {
  display: block;
  flex-shrink: 0;
  color: rgba(29,161,242,1.00);
  text-decoration: none;
  font-style: italic;
}

.twitlist-content-container button:hover {
  background-color: #ccc;
}

.twitlist-content-container.twitlist-content-container-dark {
  background-color: #333;
}

.twitlist-ui-container:hover .twitlist-content-container {
  display: flex;
}
.twitlist-ui-container:hover {
  height: 60px;
}