.twitlist-ui-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.twitlist-ui-container.twitlist-ui-container-dark {
  color: #fff;
}

.twitlist-info-container {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.twitlist-ui-container .action-link {
  flex-shrink: 0;
}

.twitlist-ui-container a {
  display: block;
  color: rgba(29,161,242,1.00);
  text-decoration: none;
  font-style: italic;
}

.twitlist-ui-container button:hover {
  background-color: #ccc;
}